[preset.0]

script_encryption_key=""

[preset.0.options]

keystore/debug="KEYSTORE_DEBUG_PATH"
keystore/debug_user="KEYSTORE_DEBUG_ALIAS"
keystore/debug_password="KEYSTORE_DEBUG_PASSWORD"
keystore/release="KEYSTORE_DEBUG_PATH"
keystore/release_user="KEYSTORE_DEBUG_ALIAS"
keystore/release_password="KEYSTORE_DEBUG_PASSWORD"
